<div class="row">
  <div class="col-12 mc-card">
    <div class="row card-body">
      <div class="col-12">
        <div class="row" *ngIf="currentUser">
          <div class="card">
            <img src="\assets\images\profile_user.png" class="img-fluid" alt="">
            <h1>{{currentUser.userName}}</h1>
            <p class="title">Software Developer on 7COMm</p>
            <p>Impacta University</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
