<div class="mc-card">
  <div class="card-title mc-title">
    Agora você pode enviar e receber mensagens
  </div>
  <div class="col-12 mc-sub-title">
    Utilidades da nossa aplicação para você
  </div>
  <div class="row card-body">
    <div class="col-lg-8 col-sm-12 text-center">
      <div class="row">
        <div class="col-12">
          <ul class="mc-list">
            <li>Converse à vontade</li>
            <li>Simples e confiável</li>
            <li>Conversas entre amigos</li>
            <li>Mantenha as conversas em dia</li>
            <li>Adicione postagens</li>
            <li>Curta postagens de amigos</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 mc-flex">
      <img src="/assets/images/matszap-Web.png" class="mc-img img-fluid">
    </div>
  </div>
  <div class="card-footer mc-card-footer">
    Veja os Arquivos
  </div>
</div>
