<div class="row">
  <div class="card-title mc-title">
    Interaja com seus amigos
  </div>
  <div class="row">
    <div class="col-12 mc-sub-title">
      Informações sobre a nossa Aplicação Web
    </div>
  </div>
  <div class="row card-body">
    <div class="col-lg-4 col-sm-12 mc-card-body">
      <div class="row">
        <div class="col-12">
          <ul class="mc-ul">
            <li>Crie Postagens</li>
            <li>Atualize-as</li>
            <li> Curta postagens de amigos</li>
            <li>Apague seus posts</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 mc-flex">
      <img src="/assets/images/matszap-Web.png" class="mc-img img-fluid">
    </div>
    <div class="col-lg-4 col-sm-12 mc-card-body">
      <div class="row">
        <div class="col-12">
          <ul class="mc-ul">
            <li>Envie mensagens para amigos</li>
            <li>Veja as mensagens enviadas</li>
            <li>Veja as mensagens recebidas</li>
            <li>Veja sua conversa com outra pessoa</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer mc-card-footer  mc-sub-title">
    Adicione seus amigos para melhor uso da aplicação
  </div>
</div>
