<div class="row">
  <div class="col-12 mc-card card-title mc-title">Enviar Mensagem
    <div class="row card-body">
      <div class="col-lg-8">
        <form [formGroup]="formMsg">
          <div class="input-group mb-3">
            <span class="input-group-text" id="ReceiverId"><i class="bi bi-card-list"></i></span>
            <select class="form-select" formControlName="ReceiverId">
              <option class="id=disabledTextInput">Escolha um Amigo</option>
              <option *ngFor="let friend of friends" [ngValue]="friend.friendId">
                {{friend.friendUsername}}
              </option>
            </select>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="titulo"><i class="bi bi-window-dock"></i></span>
            <input type="text" class="form-control" placeholder="titulo" type="titulo" formControlName="titulo" autocomplete="titulo">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="texto"><i class="bi bi-window-dock"></i></span>
            <input type="text" class="form-control" placeholder="texto" type="texto" formControlName="texto" autocomplete="texto">
          </div>
        </form>
      </div>
      <div class="col-lg-4 d-none d-lg-block d-xl-block" style="display:flex; justify-content: center;">
        <img src="/assets/images/msg1.png" class="img-fluid">
      </div>
      <div class="card-footer mc-btn">
        <button type="button" class="btn btn-primary mx-3" (click)="onSubmit()">Enviar</button>
        <button type="button" class="btn btn-secondary mx-3" (click)="onCancel()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
