<div class="row">
  <div class="col-12 card mc-card">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class="mc-data-table">
          <th scope="col">Id</th>
          <th scope="col">Titulo</th>
          <th scope="col">Texto</th>
          <th scope="col">Data</th>
          <th scope="col">Remetente</th>
          <th scope="col">Receptor</th>
          <th scope="col">isRead</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages" class="mc-data-table">
          <td >{{message.id}}</td>
          <td >{{message.titulo}}</td>
          <td >{{message.texto}}</td>
          <td >{{message.data | localDateTime }}</td>
          <td >{{message.senderUsername}}</td>
          <td >{{message.receiverUsername}}</td>
          <td >{{message.isRead}}</td>
          <td class="delete">
            <button class="btn" *ngIf="message.receiverUserId == currentUser.id" (click)="open(content, message.id)"><i class="bi bi-trash3-fill" style="color: rgb(255, 0, 0)"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Deletar Mensagem</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>Deseja excluir esta mensagem?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="deleteMessage()">Deletar</button>
        <button type="button" class="btn btn-outline-dark" (click)="d()">Cancelar</button>
      </div>
    </ng-template>
  </div>
</div>
